node_modules/
UlanziDeckPlugin-SDK/
herdr/
*.log
.DS_Store
build/
*.out
/herdr-collector
/herdr-deck
panel-gio/build/
js-demo/node_modules/
collector/build/
collector/herdr-collector
panel-gio/herdr-panel
